<div class="radio-container">
  <div class="radio-button">
    <input type="radio" id="all" name="subscription"  checked (click) = "raisetheEvent('all')">
    <label for="all">All({{all}})</label>
  </div>
  <div class="radio-button">
    <input type="radio" id="free" name="subscription" (click) = "raisetheEvent('free')">
    <label for="free">Free({{free}})</label>
  </div>
  <div class="radio-button">
    <input type="radio" id="premium" name="subscription" (click) = "raisetheEvent('premium')">
    <label for="premium">Premium({{prem}})</label>
  </div>